.resultsprompt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #7d2ae8;
    width: 420px;
    padding: 50px;


}
.input-group{
    position: relative;
    margin: 20px 0px;
}

.input-group label{
    
    transform: translate(-50%);
    font-size: 16px;
    color: #fff;
    padding: 0px 5px;
    pointer-events: none;
    transition: .5s;
    top:21%
    
}
.l1{
    position: absolute;
    right: 50%;
    

}

.l2{
    position:absolute ;
    right:75%;
}

.input-group input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 5px;

}


.input-group input:focus~label,
.input-group input:valid~label
{
    top:-21%;
    font-size: 12px;
    background-color: #7d2ae8;
}

.btn{
    background-color: transparent;
    width: 70px;
    height: 40px;
    border:none;
    border: 1.2px solid white;
    border-radius: 5px; 
    color: white;

}
.btn:active{
    background-color: #9155e0;
}

