<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
    position: absolute;
    top: 450px;
    left: 570px;
    font-size: 4rem;
}

img{
    
    height:1050px;
}
    </style>
    
    
</head>
<body>
    
    <div>
        <img src="/certificate.png" alt="">
        <h1><%= name%></h1>

    </div>
</body>
</html>